<header>
  <div class="nav-menu">
    <div class="brand-title">
      <h1 style="font-size: larger">IronGrid Systems</h1>
    </div>

    <ul class="menu">
      <li class="item-menu">
        <a mat-flat-button routerLink="/home">Home</a>
      </li>
      <li class="item-menu">
        <a mat-flat-button routerLink="/tasks">Tasks</a>
      </li>
      <li class="item-menu">
        <a mat-flat-button routerLink="/dashboards">Dashboards</a>
      </li>
    </ul>
  </div>

  <div class="search-box">
    <input class="search-bar" type="text" placeholder="Search" />
  </div>

  <div class="user-menu">
    <ul class="menu">
      <li class="user-menu-item">
        <mat-icon aria-label="notification icon">notifications</mat-icon>
      </li>
      <li class="user-menu-item">
        <mat-icon aria-label="settings icon">settings</mat-icon>
      </li>
      <li class="user-menu-item">
        <button mat-icon-button (click)="goToAccount()">
          <mat-icon>account_circle</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</header>
