<header>

  <div class="nav-menu">
    <div class="brand-title">
      <h1 style="font-size: larger">IronGrid Systems</h1>
    </div>

    <ul class="menu">
      <li class="item-menu">
        <a mat-flat-button href="">Home</a>
      </li>
      <li class="item-menu">
        <a mat-flat-button href="">Tasks</a>
      </li>
      <li class="item-menu">
        <a mat-flat-button href="">Dashboards</a>
      </li>
    </ul>
  </div>

  <div class="search-box">
    <input class="search-bar" type="text" placeholder="Search">
  </div>

  <div class="user-menu">
      <ul class="menu">
        <li class="user-menu-item">
            <mat-icon aria-hidden="false" aria-label="bell icon">notifications</mat-icon>
        </li>
        <li class="user-menu-item">
          <mat-icon aria-hidden="false" aria-label="bell icon">settings</mat-icon>
        </li>
        <li class="user-menu-item">
          <mat-icon aria-hidden="false" aria-label="bell icon">account_circle</mat-icon>
        </li>
      </ul>
  </div>

</header>
