<main class="main">
  <div class="login-wrapper">
  <form>
      <div class="user">
        <img src="" alt="user">
      </div>
      <div class ="form-component">
        <label for="">Email: </label>
        <input type="email" name="" placeholder="someone@example.com">
      </div>
      <div class ="form-component">
        <label for="">Password: </label>
        <input type="password" name="" placeholder="Password">
      </div>
    <div class="form-component-checkers">
      <input type="checkbox">
      <span>Forgot password?</span>
    </div>
    <button (click)="goToRegister()" class="submit-form">
      Log in
    </button>
  </form>
</div>
</main>
