.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  width: 25em;
  height: 30em;
  border: 1px solid #aaa;
  border-radius: 15px;
  color: white;
}

.login-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20em;
}

/*
.user{
  background-color: white;
  border-radius: 100%;
  width: 6em;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
}

*/


.login-wrapper form div {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.form-component input {
  padding:12px 25px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.form-component-checker input {
  display: inline;
}


.submit-form {
  background-color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
main{
  margin:5% auto;
  margin-left:35%;
}
