.password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/*  Posición y estilo personalizado del snackbar */
::ng-deep .mat-mdc-snack-bar-container.custom-snackbar {
  margin-top: 70px;
  border-radius: 8px;
  background-color: #004e7c;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
