/* Estilos para el perfil de cuenta */
.profile-box {
  background: #e0e0e0;
  padding: 16px 20px;
  border-radius: 12px;
  display: flex;
  gap: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.edit-mode .profile-box {
  background-color: #fffde7;
  border: 1px dashed #c1a100;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.column label {
  font-weight: bold;
}

.column input {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 14px;
}

.save-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
  padding-right: 10px;
}

.edit-mode-label {
  color: #c1a100;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
}

h3 {
  margin-bottom: 12px;
  font-weight: 500;
  color: #333;
}

button[mat-raised-button],
button[mat-stroked-button],
button[mat-flat-button] {
  min-width: 120px;
}
/*  Posición y estilo personalizado del snackbar */
::ng-deep .mat-mdc-snack-bar-container.custom-snackbar {
  margin-top: 70px;
  border-radius: 8px;
  background-color: #004e7c;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
